extends layout

append js
	script(src="/js/population-pyramid.js")
	script(src="/js/education-chart.js")
	script(src="/js/income-chart.js")
	script(src="/js/county-details.js")
	script(src="/js/state-chart.js")
	script(src="/js/main.js")

block content
	.container-fluid
		h2 Washington Population and Education
		.row.controls-wrapper.hide
		.col-sm-12

		.row
			.col-sm-5
				div.county-tooltip
				div.selected-county-tooltip
				#map.loading
		.row#county-details.hide
			.col-sm-12
				h2#countyname
				.row
					h2#countyname
				h3 Education
				div#options
					label
						input.educationToggle(type="radio", name="gender_filter", value="1" checked="true" ) 
						|  Total
					label
						input.educationToggle(type="radio", name="gender_filter", value="0") 
						|  By Gender
				.row
					.col-sm-12.education-chart#education
					.col-md-6.education-chart#femaleEducation
						| Female
					.col-md-6.education-chart#maleEducation
						| Male
				
				.row
					.col-md-6#population
						h3 Population
						h4#poptotal
					.col-md-6#income
						h3 Income
					
