extends layout

append js
	script(src="/js/population-pyramid.js")
	script(src="/js/education-chart.js")
	script(src="/js/county-details.js")
	script(src="/js/state-chart.js")
	script(src="/js/main.js")

block content
	.container-fluid
		h2 Washington Map
		.row.controls-wrapper.hide
		.col-sm-12

		.row
			.col-sm-5
				div.county-tooltip
				#map.loading
			.col-sm-7#county-details.hide
				.row
					.col-sm-12#countyname
				h3 Population
				.row
					.col-sm-12#population
				h3 Education
				.row
					.col-sm-12#education



