extends layout

append js

	script(src="/js/population-pyramid.js")
	script(src="/js/single-state.js")

block content
	.container-fluid
		h2 Washington Map
		.row.controls-wrapper.hide
		.col-sm-12

		.row
			.col-sm-5
				div.county-tooltip
				#map
			.col-sm-7
				#pyramid



