extends layout

append js
	script(src="/js/population-pyramid.js")
	script(src="/js/education-chart.js")
	script(src="/js/income-chart.js")
	script(src="/js/county-details.js")
	script(src="/js/state-chart.js")
	script(src="/js/main.js")

block content
	.container-fluid
		h2 Washington Population and Education
		.row.controls-wrapper.hide
		.col-sm-12

		.row
			.col-sm-5
				div.county-tooltip
				div.selected-county-tooltip
				#map.loading
			.col-sm-7#county-details.hide
				.row
					h2#countyname
				h3 Education
				div#options
					label
						input.educationToggle(type="radio", name="gender_filter", value="1" checked=true) 
						| Total
					label
						input.educationToggle(type="radio", name="gender_filter", value="0") 
						| By Gender
				.row
					.col-sm-12.education-chart#education
					.col-sm-6.education-chart#femaleEducation
						| Female
					.col-sm-6.education-chart#maleEducation
						| Male
				h3 Population
				.row
					.col-sm-12#population
				h3 Income
				.row
					.col-sm-12#income


