extends layout

append js
  script(src="/js/us-counties.js")

block content
  .container-fluid#us-counties
    h2 The Map
    .row
      .col-sm-12
        #map
    
    h2 Data Questions
    .row
      .col-sm-12
        pre#results  



