extends layout

append js
  script(src="/js/us-counties.js")

block content
  .container-fluid#us-counties
    h2 US County Map
    .row
      .col-sm-12
        #map
    
    .row.controls-wrapper
      .col-sm-12
        label 
          strong Highlight counties containing zip code: 
          input(name="zip-code-filter", placeholder="try typing 98015")