extends layout

append js
  script(src="/js/us-counties.js")

block content
  .container-fluid#us-counties
    h2 US County Map
    .row.controls-wrapper.hide
      .col-sm-12
        form.form-inline
          h4 Search by:
          .form-group
            label.radio-inline
              input(type="radio", name="search-mode-toggle", value="zipcode")
              span  Zipcode
            label.radio-inline
              input(type="radio", name="search-mode-toggle", value="county")
              span  County
          .form-group
            label
              input(name="search-box", type="text", class="form-control", placeholder="Enter name or ID")
    .row
      .col-sm-12
        div.county-tooltip
        #map
    .row
      .col-sm-12
        #state

    .info-pane-wrapper.hide
      .row
        .col-sm-12


    
    