body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

a {
  color: #00B7FF; }

.loading:after {
  content: "Loading..."; }

#map path {
  fill: #ccc;
  stroke: #fff;
  stroke-width: .5px;
  cursor: pointer; }
  #map path.selected {
    fill: blue; }
  #map path:hover, #map path.hover {
    fill: red; }
  #map path.lock {
    fill: green; }

.selected-county-tooltip {
  position: relative;
  height: 20px; }

.county-tooltip {
  position: relative;
  height: 20px;
  pointer-events: none; }

.axis line, .axis path {
  shape-rendering: crispEdges;
  fill: transparent;
  stroke: #555; }

.bar {
  fill-opacity: 0.5; }

.bar.left {
  fill: steelblue; }

.bar.right {
  fill: firebrick; }

#education .legend {
  font-size: 10pt; }

#education {
  padding-bottom: 20px; }

#maleEducation, #femaleEducation {
  display: none; }

#options {
  margin: 10px; }
  #options input {
    padding: 5px; }
