body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}



#map {
  path {
    fill: #ccc;
    stroke: #fff;
    stroke-width: .5px;
  
    &.selected {
      fill: blue;
    }

    &:hover, &.hover {
      fill: red;  
    }
  }
}

.county-tooltip {
  position: relative;
  height: 20px;
  // display: inline-block;
  pointer-events:none;
}
