body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.loading:after {
  content: "Loading..."
}

#map {
  path {
    fill: #ccc;
    stroke: #fff;
    stroke-width: .5px;
  
    &.selected {
      fill: blue;
    }

    &:hover, &.hover {
      fill: red;  
    }
  }
}

#population {
  path {
    pointer-events:none;
  }
}

.county-tooltip {
  position: relative;
  height: 20px;
  // display: inline-block;
  pointer-events:none;
}

.axis line,
.axis path {
  shape-rendering: crispEdges;
  fill: transparent;
  stroke: #555;
}

.bar {
  fill-opacity: 0.5;
}

.bar.left {
  fill: steelblue;
}

.bar.right {
  fill: firebrick;
}